<div id="right">
  <nav>
      <span class="right-span"><a><i class="icon ion-load-a"></i> 未提交 0</a></span>
      <span class="right-span"><a><i class="icon ion-load-c"></i> 已完成</a></span>
      <span class="right-span"><a><i class="icon ion-load-b"></i> 已完结</a></span>
      <span id="right-span">
          <input id="in-1" type="text" placeholder="输入同步课名称搜索">
          <button id="in-2"><i class="icon ion-search"></i></button>
      </span>
  </nav>
  <div id="bottom">
    <p>暂时没有新任务</p>
  </div>
</div>
  