<div id="content">
  <div id="title">
    <span>/&nbsp;&nbsp;{{courses.title1}}&nbsp;&nbsp;</span>
    <span>/ {{courses.title2}}&nbsp;&nbsp;/</span>
    <span id="last"> {{courses.title3}}</span>
  </div>
  <div id="infor">{{courses.title3}}</div>
  <div id="meau">
    <div id="vedio">
      <video src="{{courses.video}}" controls="controls"></video> 
    </div>
    <div id=meaulist>
      <ul>
        <li><a href="#">课程目录</a></li>
        <li><a href="#">{{courses.meaulist1}}</a></li>
        <li><a href="#">{{courses.meaulist2}}</a></li>
        <li><a href="#">{{courses.meaulist3}}</a></li>
        <li><a href="#">{{courses.meaulist4}}</a></li>
        <li><a href="#">{{courses.meaulist5}}</a></li>
        <li><a href="#">{{courses.meaulist6}}</a></li>
      </ul>
    </div>
  </div>
  <div id="bottom">
    <div id="left">
      <div id="left-top">
        <p>{{courses.question}}</p>
      </div>
      <p>技术问答</p>
      <div id="left-bottom"></div>
    </div>
    <div id="right">&nbsp;&nbsp;正在学习{{courses.person}}人</div>
  </div>
</div>








<!-- 视频请求的网址"/login/?next=/course/Github-kai-yuan-zhi-lv-shi-pin-ke-cheng-di-yi-ji-q/kcsms/" -->