<div id="left">
    <div id="left-top">
      <img src="../../../assets/images/head.png" alt="">
      <p>3班-陈琛</p>
      <p>&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;</p>
      <p>粉丝&nbsp;&nbsp;&nbsp;&nbsp;关注</p>
    </div>
    <div id="left-bottom">
      <ul>
        <li id="first">
          <a [routerLink]="['/home/renwu']">
            <i class="icon ion-chatbox-working"></i> 任务 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="icon ion-chevron-right"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/work']">
            <i class="icon ion-load-b"></i> 同步课 &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="icon ion-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
